@import url('https://fonts.googleapis.com/css?family=Audiowide|Faster+One');
@import url('https://fonts.googleapis.com/css?family=Faster+One');

@font-face {
  font-family: 'Audowide', 'Faster+One';
}
* {
  box-sizing: border-box;
  font-family: Audiowide;
  color: #6182C9;
}

#title{
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 7em;
}
h5 {
  text-align: center;
}
#gameDiv {
  border: 3px solid #f5f5f5;
  padding: 3px;
  width: 10em;
  font-size: 10px;
}
#brain {
  width: 100px;
  height: auto;
  margin-top: 0.4em;
  margin-left: 0.5em;
}
  #brain.Bounce {
    -webkit-animation: Bounce 4000ms;
    -moz-animation: Bounce 4000ms;
    -ms-animation: Bounce 4000ms;
    -o-animation: Bounce 4000ms;
    animation: Bounce 4000ms;
  }
nav {
  background-image: url('../images/space.png');
  background-position: center;
  text-align: center;
  padding: 0.8em 0em;
  position: relative;
  z-index: 9999;
}
nav a {
  color: #f5f5f5;
  font-size: 1em;
  padding: 0em 2.5em;
}
#disclaimer {
  color: #844875;
  font-size: 10px;
  padding-left: 1.5em;
}
#disclaimer p {
  color: #844875;
  display: none;
}
#disclaimer a {
  position: relative;
  z-index: 999;
}
form, #game-rules {
  margin-left: 1em;
}
span {
  font-size: 12px;
}
#twenty4 {
  font-size: 20px;
  font-weight: bold;
}
#time-wrapper {
  margin-right: 1em;
}
#instructions, #about {
  background-color: rgba(55,84,84,0.2);
  padding: 3.5em;
  margin: 5em auto;
  width: 40%;
}
#newGame {
  visibility: hidden;
  padding-top: 2em;
}
#about {
  display: none;
}
#card {
  left: 30%;
  position: relative;
  width: 40em;
  z-index: 1;
}
  #card.Stretch {
    -webkit-animation: stretch 3000ms;
    -moz-animation: stretch 3000ms;
    -ms-animation: stretch 3000ms;
    -o-animation: stretch 3000ms;
    animation: stretch 3000ms;
  }
#top-num {
  margin-left: 6.4em;
  margin-top: 1em;
  position: relative
  z-index: 1;
}
#bottom-num {
  margin-left: 6.4em;
  margin-top: 1em;
  position: relative
  z-index: 1;
}
#leftRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 4em;
  margin-top: 4em;
}
#left-num {
  margin-left: 7em;
}
#diamond-wrapper {
  position: absolute;
  z-index: 0;
}
#diamond{
  width: 0;
  height: 0;
  border: 20em solid transparent;
  border-bottom-color: #3d1d49;
  opacity: 0.7;
  position: relative;
  top: -20em;
  z-index: 0;
}
#diamond:after {
  content: '';
  position: absolute;
  left: -20em;
  top: 20em;
  width: 0;
  height: 0;
  border: 20em solid transparent;
  border-top-color: #3d1d49;
  z-index: 0;
}
.inner{
  position: absolute;
  z-index: 1;
}
.inner p{
  height: 3.5em;
  width: 3em;
  font-size: 3em;
  padding: 0;
}
#input {
  float: left;
}
input{
  width: 17em;
  height: 3em;
}
#solution{
  padding-top: 0.2em;
  padding-left: 0.2em;
}
#time-wrapper{
  background-image: url('../images/space.png');
  background-position: center bottom;
  float: right;
}
#fastestTime{
  display: none;
}
footer{
  position: absolute;
  top: 57em;
  width: 100%;
  height: 60px;
  background-image: url('../images/space.png');
  background-position: center top;
  color: #f5f5f5
}
footer h6{
  text-align: center;
  font-size: 10px;
}
form {
  background-image: url('../images/space.png');
  background-position: center bottom;
  border: 0.5em solid #f5f5f5;
  border-radius: 10%;
  padding: 1em;
}
#time-wrapper {
  border: 0.5em solid #f5f5f5;
  border-radius: 10%;
  padding: 1em;
}

@keyframes Bounce {
  0% { transform: translate(5px, 16px) rotate(0deg); }
	10% { transform: translate(-16px, -5px) rotate(-10deg); }
	20% { transform: translate(-4px, 0px) rotate(10deg); }
	30% { transform: translate(0px, 5px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(10deg); }
	50% { transform: translate(-16px, 5px) rotate(-10deg); }
	60% { transform: translate(-4px, 16px) rotate(0deg); }
	70% { transform: translate(5px, 16px) rotate(-10deg); }
	80% { transform: translate(-16px, -16px) rotate(10deg); }
	90% { transform: translate(5px, 5px) rotate(0deg); }
	100% { transform: translate(10px, -5px) rotate(-10deg); }
}
@keyframes stretch {
  0% {
    transform: scale(.1);
  }
  100% {
    transform: scale(1);
  }
}
